body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  
}

header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.app-name {
  font-size: 36px;
  font-weight: bold;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-content {
  margin-top: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.user-lists, .user-emails {
  list-style-type: none;
  padding: 0;
}

.user-lists li, .user-emails li {
  margin: 5px 0;
}

.signup-section {
  text-align: center;
  margin-top: 20px;
}

.signup-section a {
  color: #007bff;
  text-decoration: none;
  margin: 0 10px;
}

.signup-section a:hover {
  text-decoration: underline;
}

.field {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.actions {
  text-align: center;
}

.actions input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions input[type="submit"]:hover {
  background-color: #0056b3;
}

.container p {
  text-align: center;
  margin-top: 20px;
}

.container a {
  color: #007bff;
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

.field {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.actions {
  text-align: center;
}

.actions input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions input[type="submit"]:hover {
  background-color: #0056b3;
}

.container p {
  text-align: center;
  margin-top: 20px;
}

.container a {
  color: #007bff;
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}